<div class="container">
  <div class="section1">
      <div class="row">
          <div class="col-md-12">
              <h1>Basics</h1>
          </div>
      </div>
  </div>
  <div class="card-columns">
      <div class="card" routerLink='databinding'>
          <div class="card-body">
              <h5 class="card-title">Data Binding</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
      <div class="card" routerLink='attributedirective'>
          <div class="card-body">
              <h5 class="card-title">Directives (Attribute Directive)</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
      <div class="card" routerLink='structuraldirective'>
          <div class="card-body">
              <h5 class="card-title">Directives (Structural Directive)</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
  </div>
  <div class="card-columns">
      <div class="card" routerLink='customdirective'>
          <div class="card-body">
              <h5 class="card-title">Directives (Custom Directive)</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
  
  
      <div class="card" routerLink='templatedriven'>
          <div class="card-body">
              <h5 class="card-title">Forms (Template driven form)</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
  
  
      <div class="card" routerLink='reactiveform'>
          <div class="card-body">
              <h5 class="card-title">Forms (Reactive form)</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
  </div>
  <div class="card-columns">
      <div class="card" routerLink='routercomp'>
          <div class="card-body">
              <h5 class="card-title">Routing</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
  
      <div class="card" routerLink='services'>
          <div class="card-body">
              <h5 class="card-title">Services</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
  </div>
  
  
</div>

